<footer>

  <ul class="footer">
  
    <ul class="rrss">
      <li><a href="https://www.facebook.com/Rozalen.Oficial"><i class="fa-brands fa-facebook"></i></a></li>
      <li><a href="https://twitter.com/rozalenmusic"><i class="fa-brands fa-twitter"></i></a></li>
      <li><a href="https://www.youtube.com/channel/UCiiLbZOq5wpn9s9c-2qKJyg"><i class="fa-brands fa-youtube"></i></a></li>
      <li><a href="https://www.instagram.com/rozalenmusic/"><i class="fa-brands fa-instagram"></i></a></li>
      <li><a href="https://open.spotify.com/intl-es/artist/5soMpG6E6oApEiCZgrWeVz"><i class="fa-brands fa-spotify"></i></a></li>
    </ul>
  </div>

  <div class="enlaces">
    <ul >

      <li><a href="enlaces.html">Enlaces <b>|</b></a> </li>
      <li><a href="#">Política de privacidad <b>|</b></a> </li>
      <li><a href="#">Política de <em>cookies</em><b>|</b></a> </li>
    </div>


      </footer>